// .navFull {
// 	background-color: lightgrey;
// }
// // .navLeft {
// // 	background-color: red;
// // }

  .navFull {
  	display: flex;
  	justify-items: flex-end;
  }

.banner {
	width: 100%;
	display: block;
	float:left;
	background-color: red;
}

.overlay h1 { 
	color:blue;
}

// .overlay {
// 	position: fixed;
// 	margin: 0 auto;
// }