$bodyFont: 'Montserrat', sans-serif;
$titleFont: 'Montserrat', sans-serif;
$brandColour: rgb(196, 193, 183);
$textColour:black;
// $blue: #565866;
// $maroon: #762E2E;
// $beige: #B2AF9E;
// $lightBlue: #3B4C5B;
// $grey: #65706E;
// $black: #000000;
// $footerblack:#2a2a2a;

